<div class="text-layout">
    <h1>Decimal pipe y porcentajes</h1>
    <p>
        Pipes incluidos en common Module
    </p>
</div>


<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Pipe enduro" subheader="de presente año">
            <ul>
                <li>
                    <i class="pi pi-dollar"></i>
                    ventasNetas | number
                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    ventasNetas | number : '1.4-4'

                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    ventasNetas | number : '1.7-7'

                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    (ventasNetas + 1000000) | number : '1.2-2'

                </li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Pipe codificado" subheader="de presente año">

            <ul>
                <li>
                    <i class="pi pi-dollar"></i>
                    {{ventasNetas | number}}
                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    {{ventasNetas | number : '1.4-4'}}
                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    {{ventasNetas | number : '1.7-7'}}
                </li>
                <li>
                    <i class="pi pi-dollar"></i>
                    {{(ventasNetas + 1000000) | number : '1.2-2'}}
                </li>
            </ul>
        </p-card>
    </div>

</div>



<div class="text-layout">
    <h1>Percent Pipe - Currency Pipe</h1>
    <p>
        Pipes incluidos en common Module
    </p>
</div>


<div class="p-grid">
    <div class="p-col-6">
        <p-card header="Pipe enduro">
            <ul>
                <li>
                    ventasNetas | currency
                </li>
                <li>

                    ventasNetas | currency : 'CLP' : '$': '1.3-3'

                </li>
                <li>

                    porcentaje | porcent

                </li>
                <li>

                    porcentaje | percent : '2.2-2'

                </li>
                <li>

                    porcentaje | percent : '3.1-1

                </li>
            </ul>
        </p-card>
    </div>
    <div class="p-col-6">
        <p-card header="Pipe codificado">

            <ul>
                <li>
                    {{ventasNetas | currency}}
                </li>
                <li>
                    {{ventasNetas | currency : 'CLP' : '$': '1.3-3'}}
                </li>
                <li>
                    {{porcentaje | percent}}
                </li>
                <li>
                    {{porcentaje | percent : '2.2-2'}}
                </li>
                <li>
                    {{porcentaje | percent : '3.1-1'}}
                </li>
            </ul>
        </p-card>
    </div>

</div>