<div class="text-layout">
    <h1>Pipes Personalizados</h1>

    <h3>
        Pipes personalizados por {{'nosotros' | mayusculas: enMayusculas}}
    </h3>


</div>

<p-toolbar class="p-mt-4">
    <div class="p-toolbar-group-left">

    </div>
    <div class="p-toolbar-group-right">
        <button 
            pButton 
            type="button" 
            label="Cambiar a Mayuscula" 
            class="p-button-warning p-mr-1" 
            (click)="cambiar()"></button>

        <button 
            pButton 
            icon="pi pi-sort" 
            label="Ordenar por nombre"
            (click)="cambiarOrden('nombre')" 
            class="p-mr-1"></button>

        <button 
            pButton 
            icon="pi pi-sort" 
            label="Vuela" 
            (click)="cambiarOrden('vuela')" 
            class="p-mr-1 p-button-success"></button>
        
        <button 
            pButton 
            icon="pi pi-sort" 
            label="Por color"
            (click)="cambiarOrden('color')"  
            class="p-mr-1 p-button-help"></button>
    </div>
</p-toolbar>


<div class="p-grid">
    <div class="p-col p-mt-2">
        <p-table [value]="heroes | ordenar:ordenarPor">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela | titlecase}}</td>
                    <td>{{heroes.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>






<div class="p-grid">

    <div class="p-col p-mt-2">
        <p-table [value]="heroes | slice:0">
            <ng-template pTemplate="header">
                <tr>
                    <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon></th>
                    <th pSortableColumn="vuela">Vuela <p-sortIcon field="vuela"></p-sortIcon></th>
                    <th pSortableColumn="color">Color <p-sortIcon field="color"></p-sortIcon></th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela}}</td>
                    <td>{{heroes.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>


<!-- <div class="p-grid">
    <div class="p-col p-mt-2">
        <p-table [value]="heroes | ordenar:ordenarPor">
            <ng-template pTemplate="header">
                <tr>
                    <th>Nombre</th>
                    <th>Vuela</th>
                    <th>Color</th>
                    
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-heroes>
                <tr>
                    <td>{{heroes.nombre}}</td>
                    <td>{{heroes.vuela | vuela | titlecase}}</td>
                    <td>{{heroes.color}}</td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div> -->